@font-face {
    font-family: Italic;
    src: url(../static/fonts/Inter-Regular.ttf) format(ttf);
    src: url(../static/fonts/Inter-Regular.woff2) format(woff2);
}

@font-face {
    font-family: Italic;
    src: url(../static/fonts/Inter-Medium.ttf) format(ttf);
    src: url(../static/fonts/Inter-Medium.woff2) format(woff2);
}

@font-face {
    font-family: Italic;
    src: url(../static/fonts/Inter-Bold.ttf) format(ttf);
    src: url(../static/fonts/Inter-Bold.woff2) format(woff2);
}

#contact
{
    background-image:url(../images/backgrounds/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

ul.menu
{
    padding: 0px 16px;
    margin: 0;
    list-style: none;
    background: linear-gradient(0deg,rgb(2, 104, 122) 0%, rgba(255, 255, 255, 1) 75%);
}

.menu li {
    display: inline-block;
    padding: 6px 4px;

    border-radius: 0 20px 20px 0;
    border-right: 2px white solid;
    box-shadow: 5px 0 2px -3px rgba(0, 0, 0, 1);

    font-size: 18px;
    font-weight: bold;
    color: #333;
}

p
{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

h1
{
    font-size: 64px;
    color: #1F3F68;
}

h2
{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

h3
{
    font-size: 36px;
    text-align: center;
}

h4
{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.input_area
{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.send_button
{
    background: linear-gradient(90deg,rgba(72, 118, 229, 1) 0%, rgba(141, 84, 233, 1) 100%);
    border-radius: 10px;
    width: 100px;
    height:40px;
    border: 0px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}