body
{
    background-color: rgba(243,244,248);
    font-family: sans-serif;
}

#phone
{
    width: 18px;
}

#mail
{
    height: 18px;
}

header
{
    margin-left: 100px;
    margin-top: 30px;
    padding-bottom: 8px;
    padding-left: 20px;
    width: 80%;  
    height: 60px; 
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 1px 4px rgb(218, 218, 218);
    position: fixed;
    display: inline-block;
    align-items: center;
    font-weight: bold;
    z-index: 1;
}

h2
{
    display: inline-block;
}

ul
{
    margin-left: 10px;
    list-style: none;
    display: inline-block;
}

li
{
    font-size: 14pt;
    padding-left: 15px;
    display: inline-block;
    font-weight: 500;
}

.blue_text
{
    color: #306FF5;
}

main
{
    position:relative;
    top: 200px;
    left: 100px;
    font-size: 36pt;
}

.main_big_text
{
    width: 700px;
    font-weight: bold;
}

.main_small_text
{
    padding-top: 30px;
    width: 700px;
    font-size: 14pt;
}

form
{
    margin-top: 80px;
    border-radius: 20px;
    box-shadow: 0 0 7px 1px rgb(173, 173, 173);
    width: 800px;
    padding: 30px;
    font-size: 20pt;
    font-weight: bold;
}

.form_group
{
    display: inline-flex;
    font-size: 12pt;
    flex-direction: column;
    font-weight: normal;
    margin-right: 50px;
}

label
{
    color: rgb(153, 155, 167);
}


input
{
    width: 250px;
    height: 30px;
    font-size: 14pt;
    border: solid 1px rgb(190, 190, 190);
    border-top: none;
    border-right: none;
    border-left: none;
}

button
{
    background-color: rgba(45,102,238);
    color: white;
    font-size: 14pt;
    border: none;
    border-radius: 10px;;
}

#consult_button
{
    text-align: left;
    padding: 20px;
    width: 150px;
    display: inline-block;
}

footer
{
    width: 1224px;
    height: 222px;
    background-color: #101828;
    color: #FFFFFF;
    text-align: center;
    border-radius: 20px;
    position: fixed;
    bottom: 0;
    left: 348px;
    z-index: 1;
}

.contact_group
{
    display: inline-block;
    margin-right: 100px;
    text-align: left;
    color: #98A2B3;
    font-size: 14pt;
}

p
{
    color: white;
    font-size: 17pt;
}

.footer_img
{
    width: 18px;
}

#background_photos
{
    z-index: -1;
    position: absolute;
    flex-direction: column-reverse;
    width: 624px;
    height: 1976.98px;
    transform: rotate(-12deg);
    top: -840px;
    left: 900px;
}

.back_photo
{
    width: 292.23px;
    border-radius: 24px;
}

#big_back_photo
{
    width: 310.49px;
    box-shadow: 1px 0 3px 3px rgb(175, 175, 175);
}


